body {
    background-image: url("ing.jpg");
    background-color : #000000;
    background-repeat : no-repeat;
    background-attachment : fixed;
    background-position: center; 
    background-size : cover;
  }

 
  div.container {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 2500px;
    height: 1000px;
  }


  div.imgcontainer {
    position: absolute;
    top: 250px;
    right: 450px;
    width: 50px;
    height: 10px;
  
  }

  div.text-container {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 700px;
    height: 300px;
  }


  div.img2container {
    position: absolute;
    top: 700px;
    left: 100px;
    width: 50px;
    height: 10px;
  }


  div.text2-container {
    position: absolute;
    top: 700px;
    right: 190px;
    width: 640px;
    height: 270px;
  }


  div.footer-container {
    position: absolute;
    top: 1200px;
    size: cover;
    width: 1300px;
    height: 270px;
  }