body {
    background-image:url("ing.jpg");
    background-color: black;
    background-repeat : no-repeat;
    background-attachment : fixed;
    background-position:center; 
    background-size : cover;  /* Try this edit, this will take full screen image, DO this for all css files*/
  }

  div.container {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 2500px;
    height: 1000px;
  }


  div.footer-container {
    position: absolute;
    top: 950px;
    size: cover;
    width: 1300px;
    height: 270px;
  }