body {
    background-image: url("ingredients.jpg");
    background-color :#3F000F;
    background-repeat : no-repeat;
    background-attachment : fixed;
    background-position: right; 
    background-size : auto;
  }
